.confirmationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
}

.confirmationBox {
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #ccc;
    margin: auto;
}

.confirmationHeader {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.confirmationMessage {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #333;
}

.reservationDetails {
    border: 4px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    text-align: left;
    position: relative;
}

.reservationDetails::before {
    content: "Reservation Details";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
    color: #666;
    font-size: 1.2em;
    font-weight: bold;
}

.reservationDetails p {
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #666;
}

.buttonContainer {
    margin-top: 20px;
}

.confirmButton, .extendButton {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmButton:hover, .extendButton:hover {
    background-color: #555;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}