.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* Adjust gap between parking spots */
    width: 100%;
}

.parking-spot {
    width: 80px;
    /* Adjust width to make the spots resemble a car */
    height: 150px;
    /* Adjust height to make the spots resemble a car */
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    /* Rounded corners to resemble car shape */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow to give depth */
}

.parking-spot:hover,
.selected-spot {
    background-color: #c0c0c0;
}

.parking-spot.selected-spot {
    background-color: #a0a0a0;
}

.filtered-out {
    background-color: #666666;
    cursor: not-allowed;
    color: transparent;
}

.reserved-spot {
    background-color: rgb(154, 29, 29) !important;
    cursor: not-allowed;
    color: transparent;
}

.parking-spot::before {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.parking-spot::after {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.LeftContainer {
    width: 60%;
    box-sizing: border-box;
    padding-left: 10px;
}

.RightContainer {
    width: 40%;
    box-sizing: border-box;
}

.MainContainer {
    display: flex;
    flex-direction: row;
}

.box {
    border: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.box-heading {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: -20px -20px 10px -20px;
    box-sizing: border-box;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    background-color: #fff;
    border: 1px solid #ccc;

    img {
        width: 60%;
        height: auto;
    }
}

.uwb-map {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.marker {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 11px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.Username {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.LogoutButton {
    margin-left: auto;
    color: #333;
    border-color: #333;
}

.MainHeading {
    margin-bottom: 0;
}

.Subheading {
    margin: 10px 0;
}

.LevelTimeContainer {
    width: 45%;
}

.TimeButton {
    margin-top: 10px;
    background-color: #d3d3d3;
    color: white;
    pointer-events: none;
}

.ParkingLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: 2px solid black;
    background-color: lightgray;
}

.next-button-container {
    width: calc(100% + 40px);
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 -20px -30px -20px;
}

.prev-button,
.next-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555;
}

@media screen and (max-width: 845px) {
    .LeftContainer {
        width: 100%;
    }

    .RightContainer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .parking-spot {
        width: 40px;
        height: 75px;
    }
}