.MainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.Username {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: -350px;
}

.LogoutButton {
    margin-left: auto;
    color: #333;
    border-color: #333;
}

.LeftContainer {
    width: 60%;
    box-sizing: border-box;
    float: left;
}

.MainHeading, .Subheading, .ReservationDetails {
    margin-left: 10px;
    margin-right: 10px;
}

.time-picker {
    display: flex;
    gap: 50px;
}

.time-picker-item {
    width: 500px;
    display: flex;
    border: 3px solid #ccc;
    padding: 10px;
    gap: 10px;
}

.selection-container {
    margin-top: 20px;
}

.selection-button {
    color: #333;
    display: block;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px solid #333; 
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.selection-button:hover {
    background-color: whitesmoke;
    color: #333;
}

.selection-button.selected {
    background-color: #555;
    color: white;
}

.next-button-container {
    width: 101%;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-left: -10px;
}

.next-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #555;
}

.RightContainer {
    width: 40%;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    box-sizing: border-box;
}

.box {
    border: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.box-heading {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: -20px -20px 10px -20px;
    box-sizing: border-box;
    text-align: center;
}